<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CALCULATOR</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <style type="text/css">
      h1{
        color: #0000FF;
      }
      h2{
        color: #00CCFF;
      }
      button
      {
    position: absolute;
       }
    .wrapper {
    text-align: center;
}
    </style>
</head>
<body>
    <h1 align="center">CASIO CALCULATOR</h1>
    <div class="wrapper">
        <button  onclick="window.location.href = '/calculate';">Click Here</button>
    </div>

</body>
</html>